*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 1140px;
  height: 534px;
  gap: 30px;
}

.result {
  height: 456px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 21px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 6px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 3px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  appearance: none;
  min-width: 223px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  padding: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 17px;
}

.search-form__pseudo-checkbox {
  font-family: "Fira Sans Condens";
  font-weight: 400;
  font-size: 18px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  padding: 1px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
  padding-bottom: 8px;
  padding-top: 4px;
}

.content__accent {
  filter: brightness(0.5);
}

.content__list-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 100%;
  padding-top: 4px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  padding-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  padding: 6px 142px;
  width: 100%;
}
